body {
    margin: 0;
    background: white;
    font-family: sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
}

.homebody {
    background-image: url("img/newback.jpg");
    background-size: 1440px 715px;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-attachment: local;
    border-bottom: 1em;
    color: white;
    font-weight: 400;
    font-family: sans-serif;
    background-image: border: 5px solid black;
}

h1 {
    font-size: 3em;
}
a {
    color: pink;
}

a:hover {
    color: black;
}

img {
    border: 5px solid black;
    align-items: center;
}

div#pricephotos {
    padding: 2%;
    max-width: 95%;
    align-items: center;
} 

.artistpix {
    margin: 5px;
    padding: 2.5%;
} 

div#backgroundtext {
    padding-top: 14%;
    margin-left: 15%;
    margin-right: 15%;
    text-shadow: 3px 3px 2px black;
}

h1#title {
    font-size: 5em;
    margin-left: 2%;
    margin-right: 2%;
}

.insta {
    padding-top: 23%;
    padding-bottom: 5%;
}

div#imgul {
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

div#about {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;
    line-height: 1.9em;
}

div#artists {
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    line-height: 1.8em;
    padding-bottom: 1em;
    padding-top: em;
}

div#pricephotos li{
    padding: 1em;
}

ul {
    list-style-type: none;
    margin: 40px;
    padding: 15px;
    display: inline-flex;
}

li {
    align-items: center;
    padding: 5px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.4em;
}

.container {
    width: 85%;
    margin: 0 auto;
}

header {
    background-color: black;
    border-bottom: black solid 2px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 200px;
    height: 70px;
}

nav {
    float:right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 55px;
    padding-top: 28px;
    position: relative;
}

nav a {
    color: pink;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    color: pink;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: pink;
    position:absolute;
    width: 0%;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a.active::before {
    transition: unset;
    width: 100%;
}

nav a:hover::before {
    width: 100%;
}
